/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('/fonts/poppins/Poppins-SemiBold.ttf');
}

/*//////////////////////////////////////////////////////////////////*/

/* .content section HEADER
*   Progress 3 steps Bar 
*   #######################(
*/
h2 {
    color: #6ABA96;
}

#form {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#form fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.finish {
    text-align: center
}

#form fieldset:not(:first-of-type) {
    display: none
}

#form .previous-step,
.next-step {
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#form .previous-step {
    color: #FCB918;
    background: whitesmoke;
    border: 1px solid #FCB918;
}

#form .previous-step:hover,
#form .previous-step:focus {
    color: whitesmoke;
    background-color: #FCB918;
    border: 0;
}

#form .next-step {
    color: whitesmoke;
    background: #FCB918;
    border: 0
}

#form .next-step:hover,
#form .next-step:focus {
    color: #FCB918;
    background-color: whitesmoke;
    border: 1px solid #FCB918;
}

.text {
    color: #6ABA96;
    font-weight: normal;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #6ABA96
}

#progressbar li {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400
}

/* #progressbar #step1:before,
#progressbar #step2:before,
#progressbar #step3:before {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center
} */

#progressbar #step1:before {
    content: " "
}

#progressbar #step2:before {
    content: " "
}

#progressbar #step3:before {
    content: " "
}

#progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 25px;
    display: block;
    font-size: 12px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #6ABA96
}

.progress {
    height: 10px
}

.progress-bar {
    background-color: #6ABA96
}

/* 
*   ##########################################################################)
*   ############################ .content section BODY #######################
*   ####################(
*/
.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;
    padding-right: 5%;
}

.input-field {
    position: relative;
    display: block;
}

.input-field label {
    position: absolute;
    top: 20%;
    left: 0;
    color: #666;
    font-size: 20px;
}

.border-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #666;
    width: 0%;
}

.center {
    flex: 2;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

input[type=text] {
    margin-left: 50px;
    background: none;
    border: 0;
    border-bottom: 1px solid white;
    padding: 0.5rem 0;
    color: rgb(36, 27, 27);
    outline: none;
    box-sizing: border-box;
    font-size: 20px;
    transition: 250ms all ease-in;
    z-index: 999;
    font-family: Poppins-Regular;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
}

textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
}

textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
}

textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
}

textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
}

/* 
*   ##################################################################)
*/