/**************************************************************************************************/
/**************************************************************************************************/

.right-side-content{
    position: relative;
    display: flex;
    display: -webkit-flex;
    margin-right: 3%;
    margin-left: 3%;
    overflow-x: hidden;
    text-align: center;
}

.right-side-content .fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}

.right-side-content .user{
    margin-left: 1%;
    margin-right: 1%;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.right-side-content .user .picture{
    background-color: rgb(238, 238, 238);
    padding-top: 10%;
    border: rgb(27, 27, 27) .5px solid;
    border-radius: 10px;
    text-align: center;
}

.right-side-content .user .text{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    color: #a1a1a1;
    padding: 5%;
}

.right-side-content .user .service-description{
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    padding: 3% 5%;
    max-width: 200px;
    border-radius: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.right-side-content .user .service-description::-webkit-scrollbar {
    display: none;
}

.right-side-content .user .contact{
    text-align: center;
    padding: 2%;
    background-color: #FCB918;
    border-radius: 10px;
}

.right-side-content .user .contact button{
    border: none;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: #FCB918;
    color: white;
}
/**********************************************************************************************/
/**********************************************************************************************/

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: #FCB918;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 15px;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(75, 75, 75, 0.8);
  }
/* .slide-btns{
    margin-top: 2%;
    text-align: center;
}

.slide-btns button{
    padding: 2% 3%;
    border-radius: 50%;
    border: #eeeeee 1px solid;
    color: rgb(66, 66, 66);
    background-color: #eeeeee;
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
    font-weight: bold;
}

.slide-btns .prev{
    margin-right: 1%;
}

.slide-btns .next{
    margin-left: 1%;
}

.slide-btns button:hover{
    border: #FCB918 1px solid;
    color: #FCB918;
    background-color: transparent;
    cursor: pointer;
} */


/**********************************************************************************************/
/**********************************************************************************************/